RewriteEngine On

# Avoid rewriting if a file or directory exists with the same name
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect to 'tasks' action
RewriteRule ^tasks$ index.php?action=tasks [L,QSA]
# Redirect to 'notes' action
RewriteRule ^notes$ index.php?action=notes [L,QSA]
# Redirect to 'account' action
RewriteRule ^account$ index.php?action=account [L,QSA]
# Redirect to 'billing' action
RewriteRule ^billing$ index.php?action=billing [L,QSA]
# Redirect to 'register' action
RewriteRule ^register$ index.php?action=register [L,QSA]
# Redirect to 'login' action
RewriteRule ^login$ index.php?action=login [L,QSA]