@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap";
* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E1EAF0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #2C5673;
  color: #E1EAF0;
}
header a {
  color: #E1EAF0;
  text-decoration: none;
  font-weight: 600;
  margin: 0 15px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
header a:hover {
  background-color: #5D87A5;
}

.login-form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #E1EAF0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.register-form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #E1EAF0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.login-form h1 {
  margin-bottom: 30px;
  color: #2C5673;
}
.login-form .form-group {
  margin-bottom: 20px;
}
.login-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #2C5673;
}
.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #5D87A5;
  border-radius: 4px;
  font-size: 16px;
  color: #2C5673;
}
.login-form button {
  width: 100%;
  padding: 15px;
  background-color: #2C5673;
  color: #E1EAF0;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-form button:hover {
  background-color: #5D87A5;
}

.register-form h1 {
  margin-bottom: 30px;
  color: #2C5673;
}
.register-form .form-group {
  margin-bottom: 20px;
}
.register-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #2C5673;
}
.register-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #5D87A5;
  border-radius: 4px;
  font-size: 16px;
  color: #2C5673;
}
.register-form button {
  width: 100%;
  padding: 15px;
  background-color: #2C5673;
  color: #E1EAF0;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register-form button:hover {
  background-color: #5D87A5;
}

.google {
  width: 100%;
  padding: 15px;
  background-color: #2C5673;
  color: #E1EAF0;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #E1EAF0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.account-container h1 {
  margin-bottom: 30px;
  color: #2C5673;
}
.account-container p {
  margin-bottom: 20px;
  color: #2C5673;
}
.account-container button {
  padding: 10px 20px;
  background-color: #2C5673;
  color: #E1EAF0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.account-container form {
  margin-bottom: 20px;
}
.account-container form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #5D87A5;
  border-radius: 4px;
  font-size: 16px;
  color: #2C5673;
}
.account-container form button {
  width: auto;
  padding: 10px 20px;
}

account-container button:hover {
  background-color: #5D87A5;
}

.task-list-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.task-list-container h1 {
  margin-bottom: 20px;
  color: #2C5673;
}
.task-list-container table {
  width: 100%;
  border-collapse: collapse;
}
.task-list-container th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #2C5673;
  color: #E1EAF0;
}
.task-list-container td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
.task-list-container tr:nth-child(even) {
  background-color: #f2f2f2;
}
.task-list-container tr:hover {
  background-color: #ddd;
}

.subscription-column {
  width: 30.3333333333%;
  display: inline-block;
  margin-right: 3%;
  padding: 20px;
  border: 1px solid #5D87A5;
  border-radius: 8px;
  background-color: #E1EAF0;
}
.subscription-column:last-child {
  margin-right: 0;
}
.subscription-column h2 {
  text-align: center;
  color: #2C5673;
}
.subscription-column ul {
  list-style: none;
  padding: 0;
}
.subscription-column ul li {
  margin-bottom: 10px;
  color: #2C5673;
}

#selected-plan {
  margin-top: 20px;
  color: #2C5673;
}

#submit-button {
  background-color: #2C5673;
  color: #E1EAF0;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#submit-button:hover {
  background-color: #5D87A5;
}

#card-element {
  border: 1px solid #5D87A5;
  border-radius: 4px;
  padding: 10px;
}

#card-errors {
  color: #ff6b6b;
}/*# sourceMappingURL=style.css.map */