$color_1: #E1EAF0;
$color_2: #2C5673;
$color_3: #ff6b6b;
$font-family_1: "Nunito", sans-serif;
$background-color_1: #E1EAF0;
$background-color_2: #2C5673;
$background-color_3: #5D87A5;
$background-color_4: #FFF;
$background-color_5: #f2f2f2;
$background-color_6: #ddd;

@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap";
* {
	font-family: $font-family_1;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $background-color_1;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	background-color: $background-color_2;
	color: $color_1;
	a {
		color: $color_1;
		text-decoration: none;
		font-weight: 600;
		margin: 0 15px;
		padding: 10px 20px;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: $background-color_3;
		}
	}
}
.login-form-container {
	max-width: 600px;
	margin: 50px auto;
	padding: 40px;
	background-color: $background-color_1;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}
.register-form-container {
	max-width: 600px;
	margin: 50px auto;
	padding: 40px;
	background-color: $background-color_1;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}
.login-form {
	h1 {
		margin-bottom: 30px;
		color: $color_2;
	}
	.form-group {
		margin-bottom: 20px;
	}
	label {
		display: block;
		margin-bottom: 8px;
		font-weight: bold;
		color: $color_2;
	}
	input {
		width: 100%;
		padding: 10px;
		border: 1px solid #5D87A5;
		border-radius: 4px;
		font-size: 16px;
		color: $color_2;
	}
	button {
		width: 100%;
		padding: 15px;
		background-color: $background-color_2;
		color: $color_1;
		border: none;
		border-radius: 4px;
		font-size: 18px;
		cursor: pointer;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: $background-color_3;
		}
	}
}
.register-form {
	h1 {
		margin-bottom: 30px;
		color: $color_2;
	}
	.form-group {
		margin-bottom: 20px;
	}
	label {
		display: block;
		margin-bottom: 8px;
		font-weight: bold;
		color: $color_2;
	}
	input {
		width: 100%;
		padding: 10px;
		border: 1px solid #5D87A5;
		border-radius: 4px;
		font-size: 16px;
		color: $color_2;
	}
	button {
		width: 100%;
		padding: 15px;
		background-color: $background-color_2;
		color: $color_1;
		border: none;
		border-radius: 4px;
		font-size: 18px;
		cursor: pointer;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: $background-color_3;
		}
	}
}
.google {
	width: 100%;
	padding: 15px;
	background-color: $background-color_2;
	color: $color_1;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.account-container {
	max-width: 600px;
	margin: 50px auto;
	padding: 40px;
	background-color: $background-color_1;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	h1 {
		margin-bottom: 30px;
		color: $color_2;
	}
	p {
		margin-bottom: 20px;
		color: $color_2;
	}
	button {
		padding: 10px 20px;
		background-color: $background-color_2;
		color: $color_1;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}
	form {
		margin-bottom: 20px;
		input {
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			border: 1px solid #5D87A5;
			border-radius: 4px;
			font-size: 16px;
			color: $color_2;
		}
		button {
			width: auto;
			padding: 10px 20px;
		}
	}
}
account-container {
	button {
		&:hover {
			background-color: $background-color_3;
		}
	}
}
.task-list-container {
	max-width: 800px;
	margin: 50px auto;
	padding: 20px;
	background-color: $background-color_4;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	h1 {
		margin-bottom: 20px;
		color: $color_2;
	}
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th {
		padding: 10px;
		border: 1px solid #ddd;
		text-align: left;
		background-color: $background-color_2;
		color: $color_1;
	}
	td {
		padding: 10px;
		border: 1px solid #ddd;
		text-align: left;
	}
	tr {
		&:nth-child(even) {
			background-color: $background-color_5;
		}
		&:hover {
			background-color: $background-color_6;
		}
	}
}
.subscription-column {
	width: 30.3333333333%;
	display: inline-block;
	margin-right: 3%;
	padding: 20px;
	border: 1px solid #5D87A5;
	border-radius: 8px;
	background-color: $background-color_1;
	&:last-child {
		margin-right: 0;
	}
	h2 {
		text-align: center;
		color: $color_2;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			margin-bottom: 10px;
			color: $color_2;
		}
	}
}
#selected-plan {
	margin-top: 20px;
	color: $color_2;
}
#submit-button {
	background-color: $background-color_2;
	color: $color_1;
	padding: 15px 20px;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $background-color_3;
	}
}
#card-element {
	border: 1px solid #5D87A5;
	border-radius: 4px;
	padding: 10px;
}
#card-errors {
	color: $color_3;
}